<!-- in actors_list.html -->
{% extends "blog/base.html" %}

{% block styling %}
    <style>
        img{ 
            width: 150px;               
            height: 150px;              
            border-radius: 5px;

        }
        .actors-container {
            display: flex; 
            flex-direction: column;                   
            align-items: left;           
            margin: 20px;
            padding-left: 20px;
        }

        .actors-container div {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;        
            text-align: center;      
        }

        .actor-link {
            color: white;         
            text-decoration: none;      
        }

        .actor-link:hover {
            text-decoration: underline; 
        }
        .actorlist{
            height: 70vh;
            width: 35vw;
            overflow: auto;
            position: absolute;
            top: 20%;
            display: flex;
            margin-left: 10%;
        }
        h2{
            color: white;
        }
    </style>
{% endblock styling %}

{% block content %}
    <div class="actorlist">
        <div class="actors-container">
            {% for actor in actors %}
                <div>
                    <img src="{{ actor.profile_picture.url }}" alt="{{ actor.name }} profile picture">
                    <a href="{% url 'actor-detail' actor.id %}" class="actor-link">
                        <h2>{{ actor.name }}</h2>
                    </a>
                </div>
            {% empty %}
                <p>No actors available.</p>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
