{% extends "blog/base.html" %}
{% block styling %}
    <style>
        .head {
            display: flex;
            padding-top: 100px;
            justify-content: flex-start;  
            align-items: flex-start;  
            margin-top: 0;         
        }
        .actor-detail-container {
            display: flex;
            justify-content: flex-start;
            width: 80vw;
            flex-direction: column;
            align-items: left;
            background-color: rgba(255, 255, 255, 0.864);
            color: black;
            padding: 20px;
            margin-left: 50px;
            pointer-events: auto; /* Ensure pointer events are enabled */
        }
        .actor-name {
            font-size: 2rem;
            color: white;
        }
        .biography, .birthdate {
            font-size: 1.2em;
            margin: 10px 0;
        }
        .movies-title {
            font-size: 1.2em;
            margin: 10px 0;
        }
        .movies-list {
            width: 50vw;
            list-style-type: none; 
            padding-left: 0; 
            font-size: 1.2em;
            color: black;
            text-align: left; 
        }
        .movie-item {
            margin: 5px 0; 
            padding: 5px; 
            color: black;
            background-color: rgb(196, 196, 196);
        }
        .movie-item:hover {
            background-color: rgba(255, 255, 255, 0.449);
        }
        .actor-image {
            width: 200px; 
            height: auto;
            border-radius: 10px; 
            margin-bottom: 20px; 
        }
    </style>
{% endblock styling %}

{% block content %}
    <div class="head">
        <h1 class="actor-name">{{ actor.name }}</h1>
    </div>
    <div class="actor-detail-container">
        {% if actor.profile_picture %}
            <img src="{{ actor.profile_picture.url }}" alt="{{ actor.name }}'s Profile Picture" class="actor-image">
        {% endif %}
        <p class="biography"><strong>Biography:</strong> {{ actor.biography }}</p>
        <p class="birthdate"><strong>Birthdate:</strong> {{ actor.birthdate|date:"F j, Y" }}</p>
        <h2 class="movies-title">Movies:</h2>
        <ul class="movies-list">
            {% for movie in actor.movies.all %}
                <li class="movie-item">
                    <a href="{% url 'movie-detail' movie.pk %}" style="color: black;">
                        {{ movie.title }} 
                    </a>
                </li>
            {% empty %}
                <li>No movies found for this actor.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
