{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="bg">
        <div class="box">
            {% for movie in movies %}
                <h1 style="text-transform:uppercase;">{{ movie.title }}</h1>
                <div class="desc">{{ movie.description }}</div>
                <table>
                    <tr>
                      <th>Directed By:</th>
                      <td>{{ movie.director }}</td>
                    </tr>
                    <tr>
                      <th>Cast:</th>
                      <td>{{ movie.cast }}</td>
                    </tr>
                    <tr>
                      <th>Genre:</th>
                      <td>{{ movie.genre }}</td>
                    </tr>
                    <tr>
                        <th>Duration:</th>
                        <td>{{ movie.duration }}</td>
                    </tr>
                    <tr>
                        <th>Year:</th>
                        <td>{{ movie.year }}</td>
                    </tr>
                    <tr>
                        <th>Language:</th>
                        <td>{{ movie.language }}</td>
                    </tr>
                    <tr>
                        <th>Awards Won:</th>
                        <td>{{ movie.awards }}</td>
                    </tr>
                    <tr>
                        <th>Trailer:</th>
                        <td><a href="{{ movie.trailer }}">Watch Trailer</a></td>
                    </tr>
                </table>
                <h2>User Reviews:</h2>
                <div class="rev">"{{ movie.review }}"</div>
            {% endfor %}

            <div id="write">
                <a href="writereview.html">Review this movie</a>
            </div>

        </div>
    </div> 
    <img class="poster" src="{{ movie.image.url }}" alt="{{ movie.title }}" />
    
</body>
</html>
    