{% extends "blog/base.html" %}
{% block content %}
    <style>
        #navbtn{
            border: none;
            background-color: transparent;
            font-size: 100%;
            font-weight: bold;
        }
        form{
            display: inline;
        }
        .fav{
            padding-left: 3%;
        }
        .favimg{
            width: 17vw;
            height: 45vh;
            margin-left: 0.7%;
            margin-bottom: 5%;
            border-radius: 5px;
        }
        .favimg:hover{
            transform: scale(1.05);
        }
        .favheading{
            color: white; 
            margin-top: 0%; 
            padding-top: 5%;
        }
        .top{
            padding: 2%;
        }

    </style>

    <div class="main">
        <div class="text">
            Track films you have watched. <br> Save those you want to see. <br> Tell your friends what's good.
        </div>
    </div>

    <div class="fav" style="background-color: black;">
        <h1 class="favheading">Watch Now:</h1>
        {% for movie in movies %}
            <a href="{% url 'movie-detail' movie.id %}">
                <img class="favimg" src="{{ movie.image.url }}" alt="">
            </a>
        {% endfor %}
    </div>
{% endblock content %}