{% extends "blog/base.html" %}
{% block content %}
    <style>
        #navbtn{
            border: none;
            background-color: transparent;
            font-size: 100%;
            font-weight: bold;
        }
        form{
            display: inline;
        }
        .fav{
            padding-left: 2%;
        }
        .favimg{
            width: 16.5vw;
            height: 40vh;
            margin-left: 1.5%;
            border-radius: 5px;
        }
        .favimg:hover{
            transform: scale(1.05);
        }
        .favheading{
            color: white; 
            margin-top: 0%; 
            padding-top: 5%;
        }
        .top{
            padding: 2%;
        }
        .headbtn {
            display: flex;
            justify-content: space-between;
        }
        .allbtn{
            background-color: rgb(0, 153, 255);
            color: white;
            font-size: larger;
            text-decoration: none;
            padding: 1%;
            padding-left: 2%;
            padding-right: 2%;
            border-radius: 5px;
            height: 20px;
            margin-top: 5%;
            margin-right: 5%;
        }

    </style>

    <div class="main">
        <div class="text">
            Track films you have watched. <br> Save those you want to see. <br> Tell your friends what's good.
        </div>
    </div>

    <!-- <div class="fav" style="background-color: black;">
        <div class="headbtn">
            <h1 class="favheading">Watch Now:</h1>
            <a href="" class="allbtn">View all</a>
        </div>
        {% for movie in movies %}
            <a href="{% url 'movie-detail' movie.id %}">
                <img class="favimg" src="{{ movie.image.url }}" alt="">
            </a>
        {% endfor %}
    </div> -->

    <div class="fav" style="background-color: black;">
        <div class="headbtn">
            <h1 class="favheading">Top Hollywood Picks:</h1>
            <!-- <a href="" class="allbtn">View all</a> -->
        </div>
        {% for movie in topeng %}
            <a href="{% url 'movie-detail' movie.id %}">
                <img class="favimg" src="{{ movie.image.url }}" alt="">
            </a>
        {% endfor %}
    </div>

    <div class="fav" style="background-color: black;">
        <div class="headbtn">
            <h1 class="favheading">Hindi Blockbusters:</h1>
            <!-- <a href="" class="allbtn">View all</a> -->
        </div>
        {% for movie in tophindi %}
            <a href="{% url 'movie-detail' movie.id %}">
                <img class="favimg" src="{{ movie.image.url }}" alt="">
            </a>
        {% endfor %}
    </div>



    <div class="fav" style="background-color: black;">
        <div class="headbtn">
            <h1 class="favheading">Know You Favourite Actors:</h1>
            <a href="" class="allbtn">View More</a>
        </div>
    </div>

    
{% endblock content %}