{% extends "blog/base.html" %}

{% block styling %}
<style>
    ul{
        background-color: none;
        padding: 1%;
        margin: 1%;
        margin-left: 5%;
        border-radius: 5px;
        font-size: large;
    }
    .date{
        color: rgb(101, 100, 100);
    }
    .norev{
        font-size: large;
        color: rgb(101, 100, 100);
        margin-left: 6%;
    }
</style>
{% endblock styling %}


{% block content %}

    <div class="bg">
        <div class="box">
                <h1 style="text-transform:uppercase;">{{ object.title }}</h1>
                <div class="descimg">
                    <div class="desc">{{ object.description }}</div>
                    <img class="poster" src="{{ object.image.url }}" alt="">
                </div>
                
                <table>
                    <tr>
                      <th>Directed By:</th>
                      <td>{{ object.director }}</td>
                    </tr>
                    <tr>
                      <th>Cast:</th>
                      <td>{{ object.cast }}</td>
                    </tr>
                    <tr>
                      <th>Genre:</th>
                      <td>{{ object.genre }}</td>
                    </tr>
                    <tr>
                        <th>Duration:</th>
                        <td>{{ object.duration }}</td>
                    </tr>
                    <tr>
                        <th>Year:</th>
                        <td>{{ object.year }}</td>
                    </tr>
                    <tr>
                        <th>Language:</th>
                        <td>{{ object.language }}</td>
                    </tr>
                    <tr>
                        <th>Awards Won:</th>
                        <td>{{ object.awards }}</td>
                    </tr>
                    <tr>
                        <th>Trailer:</th>
                        <td><a href="{{ object.trailer }}">Watch Trailer</a></td>
                    </tr>
                </table>
                <h2><br>User Reviews:</h2>

                {% if reviews %}
                    {% for review in reviews %}
                    <ul>
                        <li>
                            <h3>Review By: {{ review.username }} </h3>
                            <p>"{{ review.content }}"</p>
                            <p class="date">Posted on : {{ review.date_posted }} </p>
                        </li>
                    </ul>
                    {% endfor %}
                {% else %}
                    <p class="norev">No Reviews Yet</p>
                {% endif %}

            <div id="write">
                <a href="{% url 'create-review' %}">Review this movie</a>
            </div>

        </div>
    </div> 
{% endblock content %}
    
    