{% extends "blog/base.html" %}
{% load custom_filters %}


{% block styling %}
    <style>
        .button-container {
            display: flex;         
            gap: 10px;             
            align-items: center;   
            margin-top: 10px;     
        }

        ul{
            background-color: none;
            padding: 1%;
            margin: 1%;
            margin-left: 5%;
            border-radius: 5px;
            font-size: large;
        }
        .date{
            color: rgb(101, 100, 100);
        }
        .norev{
            font-size: large;
            color: rgb(101, 100, 100);
            margin-left: 6%;
        }
        .descimg{
            padding-top: 1%;
        }
        .poster{
            margin-top: 4%;
        }
        .profile-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid white;
            object-fit: cover;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .btn {
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            color: white;
            transition: background-color 0.3s;
            position: absolute;
            top: 5%;
            left: 82%;
        }
        .btn_fav {
            border: none;
            border-radius: 5px;
            text-decoration: none;
            color: white;
            transition: background-color 0.3s;
            position: absolute;
            top: 5%;
            left: 75%;
        }
        .btn-primary {
            background-color: #007bff; /* Blue button */
        }

        .btn-danger {
            background-color: #dc3545; /* Red button */
        }

        .btn:hover {
            opacity: 0.8;
        }
        .btn-favourites {
            font-size: 40px;
            color: gold;
            text-decoration: none;
        }

        .btn-favourites.active {
            color: darkorange; /* Darkened star color for favorites */
        }


    </style>
{% endblock styling %}


{% block content %}

    <div class="bg">
        <div class="box">
            <div class="button-container">
                {% if user.is_authenticated %}
                    {% if user|is_in_favourites:movie %}
                        <a href="{% url 'toggle_favourites' movie_id=movie.id %}" class="btn_fav btn-favourites active">&#9733;</a>
                    {% else %}
                        <a href="{% url 'toggle_favourites' movie_id=movie.id %}" class="btn_fav btn-favourites">&#9734;</a>
                    {% endif %}
                    
                    {% if user|is_in_watchlist:movie %}
                        <a href="{% url 'toggle_watchlist' movie_id=movie.id %}" class="btn btn-danger">Remove from Watchlist</a>
                    {% else %}
                        <a href="{% url 'toggle_watchlist' movie_id=movie.id %}" class="btn btn-primary">Add to Watchlist</a>
                    {% endif %}
                {% else %}
                    <p style="margin: 0;"><a href="{% url 'login' %}">Log in</a> to add to watchlist, favourites.</p>
                {% endif %}
            </div>
            

                <h1 style="text-transform:uppercase;">{{ object.title }}</h1>
                <div class="descimg">
                    <div class="desc">{{ object.description }}</div>
                    <img class="poster" src="{{ object.image.url }}" alt="">
                </div>
                
                <table>
                    <tr>
                      <th>Directed By:</th>
                      <td>{{ object.director }}</td>
                    </tr>
                    <tr>
                      <th>Cast:</th>
                      <td>
                        <ul>
                            {% for actor in movie.actors.all %}
                                    <a href="{% url 'actor-detail' actor.pk %}">{{ actor.name }} , </a>
                            {% empty %}
                                <li>No cast available.</li>
                            {% endfor %}
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>Genre:</th>
                      <td>{{ object.genre }}</td>
                    </tr>
                    <tr>
                        <th>Duration:</th>
                        <td>{{ object.duration }}</td>
                    </tr>
                    <tr>
                        <th>Year:</th>
                        <td>{{ object.year }}</td>
                    </tr>
                    <tr>
                        <th>Language:</th>
                        <td>{{ object.language }}</td>
                    </tr>
                    <tr>
                        <th>Awards Won:</th>
                        <td>{{ object.awards }}</td>
                    </tr>
                    <tr>
                        <th>Trailer:</th>
                        <td><a href="{{ object.trailer }}">Watch Trailer</a></td>
                    </tr>
                </table>
                <h2><br>User Reviews:</h2>

                {% if reviews %}
                    {% for review in reviews %}
                    <ul>
                        <li>
                            <img class="profile-img" src="{{review.username.profile.image.url}}">
                            <h3>Review By: {{ review.username }} </h3>
                            <p class="date">Posted on : {{ review.date_posted|date:"F j, Y" }} </p>
                            <p>{{ review.content }}</p>
                            
                        </li>
                    </ul>
                    {% endfor %}
                {% else %}
                    <p class="norev">No Reviews Yet</p>
                {% endif %}

            <div id="write">
                <a href="{% url 'create-review' object.pk %}">Review this movie</a>
            </div>
            

        </div>
    </div> 
{% endblock content %}
    
    