{% extends "blog/base.html" %}

{% block styling %}
<style>
    .searchmovies{
        position: absolute;
        top: 20%;
        left: 5%;
        display: flex;
        width: 90vw;
        height: 55vh;
        overflow: auto;
    }
    .favimg{
        width: 15vw;
        height: 45vh;
    }
    .favimg:hover{
        transform: scale(1.05);
    }
    #imga{
        margin: 1%;
    }
</style>
{% endblock styling %}

{% block content %}

<div class="searchmovies">
    {% for movie in movies %}
        <a id="imga" href="{% url 'movie-detail' movie.id %}">
            <img class="favimg" src="{{ movie.image.url }}" alt="">
        </a>
    {% endfor %}
</div>


{% endblock content %}