{% extends "blog/base.html" %}
{% block content %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .container{
            position: absolute;
            top: 30%;
            left: 3%;
            background-color:rgb(102, 8, 8);
            opacity: 80%;
            width: 50vw;
            border-radius: 5px;
        }
        h3{
            size: 1.5rem;
            color: white;

        }
        
    </style>

    
    <div class="container">
        <h3>An Email has been sent to your Account.</h3>

    </div>

{% endblock content %}

