{% extends 'blog/base.html' %}

{% block styling %}
    <style>

        .head {
            display: flex;
            padding-top: 100px;
            justify-content: flex-start;  
            align-items: flex-start;  
            margin-top: 0;         
        }
        .reviewsheading {
            color: white;
            font-size: 2rem;
        }
        .review-list {
            display: flex;
            flex-wrap: wrap; 
            list-style: none; 
            padding: 0; 
            width: 70vw;
        }
        .review-item {
            background-color: rgba(255, 255, 255, 0.1); 
            border: 1px solid rgba(255, 255, 255, 0.2); 
            border-radius: 8px;
            margin: 10px; 
            padding: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: white;
            transition: transform 0.3s;
        }
        .review-item:hover {
            transform: scale(1.02); 
        }
        .movie-poster {
            width: 200px; 
            height: 250px; 
            border-radius: 8px; 
        }
        .movie-title {
            color: white;
            text-decoration: none;
            transition: color 0.3s;
        }
        .movie-title:hover {
            color: #17a2b8; /* Change color on hover */
        }
    </style>
{% endblock styling %}

{% block content %}
    <div class="head">
        <h2 class="reviewsheading">Your Reviews</h2>
    </div>

    <ul class="review-list">
        {% for review in reviews %}
            <li class="review-item">
                <h2>
                    <a href="{% url 'movie-detail' review.movie.id %}" class="movie-title">
                        {{ review.movie.title }}
                    </a>
                </h2>
                <img src="{{ review.movie.image.url }}" alt="{{ review.movie.title }} poster" class="movie-poster"> 
                <p>{{ review.content }}</p>
                <p>Rating: {{ review.userRating }}</p>
                <p>Posted on: {{ review.date_posted|date:"F j, Y, g:i a" }}</p>
            </li>
        {% empty %}
            <li>No reviews found for this user.</li>
        {% endfor %}
    </ul>

{% endblock %}
